.todo-list {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding: 0 2rem;
}

.todo-item {
  align-self: center;
}

.btn {
  align-self: center;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: hsl(178 75% 50%);
  cursor: pointer;
  transition: box-shadow 100ms ease;
}

.btn:hover {
  box-shadow: 0 0.5rem 1rem hsl(178 75% 50% / 0.7);
}

.todo-container {
  padding: 1rem 0rem;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 75% 25%;
}

#clear-btn {
  margin-bottom: 2rem;
}

.check-btn {
  justify-self: center;
}

.delete-btn {
  justify-self: center;
  grid-column-start: 2;
  grid-row-start: 1;
}

.btn svg {
  height: 1.5rem;
  width: 1.5rem;
  justify-self: flex-end;
}

.stroke {
  text-decoration: line-through;
}

@media only screen and (min-width: 1000px) {
  .todo-container {
    grid-template-columns: 90% 10%;
  }
}
